<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Alert</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Change Alert</string>
			<key>Key</key>
			<string>alertSounds</string>
			<key>DisplaySortedByTitle</key>
			<true/>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Titles</key>
			<array>
				<string>Fun</string>
				<string>Let It Go</string>
				<string>Chime</string>
				<string>Ringing</string>
				<string>Guitar</string>
				<string>Horn</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>About</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Version</string>
			<key>DefaultValue</key>
			<string>1.0.0</string>
			<key>Key</key>
			<string>version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Copyright</string>
			<key>Key</key>
			<string>copyright</string>
			<key>DefaultValue</key>
			<string>Kathleen Feng, Tony Francis, Bernard Snowden</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Credits</string>
			<key>File</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Disclaimer</string>
			<key>IASKViewControllerClass</key>
			<string>DisclaimerSubviewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:specifier:</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Account</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Logout</string>
			<key>Key</key>
			<string>Logout</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
			<key>DefaultValue</key>
			<string>Logout</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
